<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/navbar.ejs') %>

  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvar-pergunta">
          <label for="titulo">Título</label>
          <input
            type="text"
            id="titulo"
            placeholder="Título"
            name="titulo"
            class="form-control mb-3"
          />
          <label for="descricao">Descrição</label>
          <textarea
            name="descricao"
            id="descricao"
            class="form-control"
          ></textarea>
          <button class="btn btn-primary mt-3">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include('./partials/footer.ejs') %>
