body {
  background-color: #eceff1;
}

.pergunta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(16, 236, 16, 0.436);
}
